<head>
    <meta http-equiv="refresh" http-equiv="REFRESH" content="0;url=.">
</head>

<div id="content">
    <div class="inner">
        <br>
        <h2>About me</h2>
        <br>
        <img src="../images/filipe.png" style="margin: 6px 5px 10px 20px" heigth="150" width="150" align="right" />
        
        <p>I am Filipe de Oliveira Saraiva. I have a PhD and a MSc degree in Electrical Engineering from the University of Sao Paulo (USP) – Sao Carlos Engineering School, and a Bachelor’s degree in Computer Science from the Federal University of Piaui (UFPI), both of which are Brazilian institutions. During my PhD, I was also a guest researcher at the KTH Royal Institute of Technology, Sweden.</p>
        
        <p>Currently I am an <a href="http://docente.ufpa.br/filipesaraiva" target="_blank">Assistant Professor at the Federal University of Para (UFPA)</a> – Institute of Exact and Natural Sciences, in Belem, Brazil. I am affiliated with the Faculty of Computer Science, as well as the Computer Science Graduate Program. I am a member of the <a href="http://laai.ufpa.br/" target="_blank">Laboratory of Applied Artificial Intelligence</a>.</p>

        <p>My main research interests are in the development and applications of computational intelligence methods to conventional power systems and smart grids, the development of metaheuristic methods for combinatorial optimization problems, and free/open source software.</p>

        <p>I am also a free software advocate participating in several communities, in particular as a <a href="https://phabricator.kde.org/p/filipesaraiva/" target="_blank">developer</a> at <a href="http://kde.org/" target="_blank">KDE</a> and as a <a href="http://people.mageia.org/u/filipesaraiva.html" target="_blank">packager</a> at <a href="http://mageia.org/" target="_blank">Mageia</a>. You can find some of my code contributions in my <a href="http://www.openhub.net/accounts/filipesaraiva" target="_blank">OpenHub</a> profile.</p>
    </div>
</div>
