<head>
    <meta http-equiv="refresh" http-equiv="REFRESH" content="0;url=.">
</head>

<div id="content">
    <div class="inner">
        <br>
        <h2>Contact</h2>
        <br>
        <div class="row" style="text-align:center">
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-address-card"></i>
                <p/>
                <p/>
                <p><b>vCard</b></p>
                <p><a href="../filipesaraiva.vcf" target="_blank">Business Card</a></p>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-envelope"></i>
                <p/>
                <p/>
                <p><b>E-mail</b> <a href="http://pgp.mit.edu/pks/lookup?op=get&search=0xC8202AF105527004" title="PGP Public Key"><i class="fa fa-key"></i></a></p>
                <p><b>mail</b> at <b>filipesaraiva.info</b></p>
                <p><b>saraiva</b> at <b>ufpa.br</b></p>
                <p><b>filipe</b> at <b>kde.org</b></p>
                <p><b>filipesaraiva</b> at <b>mageia.org</b></p>
                <p><strike><b>filipe.saraiva</b> at <b>usp.br</b></strike></p>
            </div>
        </div>
        <br>
        <div class="row" style="text-align:center">
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-paper-plane"></i>
                <p/>
                <p/>
                <p><b>Telegram</b></p>
                <p><a href="https://t.me/filipesaraiva" target="_blank">@filipesaraiva</a></p>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-comments"></i>
                <p/>
                <p/>
                <p><b>Jabber/XMPP</b></p>
                <p><b>filipe</b> at <b>kde.org</b></p>
            </div>
        </div>
    </div>
</div>
