<head>
    <meta http-equiv="refresh" http-equiv="REFRESH" content="0;url=.">
</head>

<div id="content">
    <div class="inner">
        <br>
        <h2>Cyberspace</h2>
        <br>
        <div class="row" style="text-align:center">
            <div class="col-sm">
                <p/>
                <p/>
                <i class="ai ai-lattes fa-4x"></i>
                <p/>
                <p/>
                <a href="http://lattes.cnpq.br/5883877669437870" title="Currículo Lattes" target="_blank">Currículo Lattes</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="ai ai-orcid fa-4x"></i>
                <p/>
                <p/>
                <a href="http://orcid.org/0000-0003-3187-4221" title="ORCID" target="_blank">ORCID</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="ai ai-dblp fa-4x"></i>
                <p/>
                <p/>
                <a href="https://dblp.uni-trier.de/pers/hd/s/Saraiva:Filipe_de_Oliveira" title="dblp" target="_blank">dblp</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="ai ai-google-scholar fa-4x"></i>
                <p/>
                <p/>
                <a href="https://scholar.google.com.br/citations?user=LgIN_csAAAAJ&hl" title="Google Scholar" target="_blank">Google Scholar</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-linkedin fa-4x"></i>
                <p/>
                <p/>
                <a href="https://br.linkedin.com/in/filipe-saraiva-b6aaa0109" title="LinkedIn" target="_blank">LinkedIn</a>
            </div>
        </div>
        <br>
        <div class="row" style="text-align:center">
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-wordpress"></i>
                <p/>
                <p/>
                <a href="http://blog.filipesaraiva.info/" target="_blank">Blog</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-paper-plane"></i>
                <p/>
                <p/>
                <a href="https://t.me/s/monolipe" target="_blank">Telegram Channel</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-twitter"></i>
                <p/>
                <p/>
                <a href="https://twitter.com/filipesaraiva" target="_blank">Twitter</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-gitlab"></i>
                <p/>
                <p/>
                <a href="https://gitlab.com/u/filipesaraiva" target="_blank">Gitlab</a>
            </div>
            <div class="col-sm">
                <p/>
                <p/>
                <i class="fa fa-4x fa-github"></i>
                <p/>
                <p/>
                <a href="https://github.com/filipesaraiva" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>
