<head>
    <meta http-equiv="refresh" http-equiv="REFRESH" content="0;url=.">
</head>

<div id="content">
    <div class="inner">
        <br>
        <h2>Publications</h2>
        <br>
        <h3>Journals Papers</h3>
        <br>
        <p>SARAIVA, F. O.; BERNARDES, W. M. S.; ASADA, E. N.. <i>A Framework for Classification of Non-Linear Loads in Smart Grids using Artificial Neural Networks and Multi-Agent Systems</i>. Neurocomputing, v. 170, 2015. DOI: <a href="http://dx.doi.org/10.1016/j.neucom.2015.02.090">10.1016/J.NEUCOM.2015.02.090</a></p>

        <p>SARAIVA, F. O.. <a href="../works/2008404nOtF0undSaraiva.pdf" target="_blank"><i>A Tropa Livre os Efeitos da Distribuição Ilegal do Filme Tropa de Elite em seu Desempenho nos Cinemas Brasileiros</i></a>. 404notf0und (UFBA), v. 1, n. 67, 2008.</p>
        <br>
        <h3>Book Chapters</h3>
        <br>
        <p>ANDRADE, S.; SARAIVA, F.. <i>Principled Evaluation of Strengths and Weaknesses in FLOSS Communities: A Systematic Mixed Methods Maturity Model Approach</i>. In: BALAGUER F., DI COSMO R., GARRIDO A., KON F., ROBLES G., ZACCHIROLI S. (Eds.). Open Source Systems: Towards Robust Practices. IFIP Advances in Information and Communication Technology, vol 496. Buenos Aires: Springer, 2017. DOI: <a href="http://dx.doi.org/10.1007/978-3-319-57735-7_4" target="_blank">10.1007/978-3-319-57735-7_4</a></p>
        <br>
        <h3>Conference Papers</h3>
        <br>
        <p>CHAGAS, P.; AKIYAMA, R.; MEIGUINS, A.; SANTOS, C.; SARAIVA, F.; MEIGUINS, B.; MORAIS, j.. <i>Evaluation of Convolutional Neural Network Architectures for Chart Image Classification</i>. In: International Joint Conference on Neural Networks (IJCNN 2018), Rio de Janeiro, 2018. DOI: <a href="http://dx.doi.org/10.1109/IJCNN.2018.8489315" target="_blank">10.1109/IJCNN.2018.8489315</a></p>
        
        <p>SARAIVA, F.; NORDSTRÖM, L.; ASADA, E.. <i>Multi-Agent Systems Applied to Power Loss Minimization in Distribution-Level Smart Grid with Dynamic Load Variation</i>. In: IEEE Congress on Evolutionary Computation 2017 (IEEE CEC 2017), Donostia, 2017. DOI: <a href="http://dx.doi.org/10.1109/CEC.2017.7969316" target="_blank">10.1109/CEC.2017.7969316</a></p>
        
        <p>ANDRADE, S.; SARAIVA, F.. <i>Principled Evaluation of Strengths and Weaknesses in FLOSS Communities: A Systematic Mixed Methods Maturity Model Approach</i>. In: IFIP International Conference on Open Source Systems 2017 (OSS 2017), Buenos Aires, 2017. DOI: <a href="http://dx.doi.org/10.1007/978-3-319-57735-7_4" target="_blank">10.1007/978-3-319-57735-7_4</a></p>
        
        <p>SARAIVA, F. O.; WIESE, I.. <i>Workshop de Software Livre 2016</i>. In: XVII Workshop de Software Livre (XVII WSL), Porto Alegre, 2016.</p>

        <p>SARAIVA, F. O.; TERCEIRO, A.. <i>An Open Access Repository for the Workshop de Software Livre (WSL)</i>. In: XVI Workshop de Software Livre (XVI WSL), Porto Alegre, 2015.</p>

        <p>SARAIVA, F. O.; ASADA, E. N.. <i>Multi-agent systems applied to topological reconfiguration of smart power distribution systems</i>. In: International Joint Conference on Neural Networks 2014 (IJCNN 2014), Beijing, 2014. DOI: <a href="http://dx.doi.org/10.1109/IJCNN.2014.6889791" target="_blank">10.1109/IJCNN.2014.6889791</a></p>

        <p>SARAIVA, F. O.. <i>Cantor: Ambiente Integrado de Desenvolvimento Voltado à Computação Científica Utilizando Python</i>. In: XV Workshop de Software Livre (XV WSL), Porto Alegre, 2014.</p>

        <p>SARAIVA, F. O.; ASADA, A. C. C.; ASADA, E. N.. <a href="../works/2013isapSaraiva.pdf" target="_blank"><i>Multi-agent System for Voltage Control in Distribution Systems</i></a>. In: XVII Internacional Conference on Intelligent System Applications to Power System (XVII ISAP), Tóquio, 2013.</p>

        <p>SARAIVA, F. O.; ASADA, E. N.. <i>Decision Making in Intelligent Electrical Systems Using Distributed Artificial Intelligence and Heuristic Methods</i>. In: II IEEE Power Energy Society Conference on Innovative Smart Grid Technologies Latin America (II IEEE-PES ISGT-LA), São Paulo, 2013. DOI: <a href="http://dx.doi.org/10.1109/ISGT-LA.2013.6554482" target="_blank">10.1109/ISGT-LA.2013.6554482</a></p>

        <p>VASCONCELOS, F. M.; SARAIVA, F. O.; BERNARDES, W. M. S.; MAZZINI, A. P.; ALMEIDA, M. P.. <i>Artificial Neural Network Applied to Prediction of Electricity Generated by Grid Connected Photovoltaic Systems</i>. In: II IEEE Power Energy Society Conference on Innovative Smart Grid Technologies Latin America (II IEEE-PES ISGT-LA), São Paulo, 2013. DOI: <a href="http://dx.doi.org/10.1109/ISGT-LA.2013.6554453" target="_blank">10.1109/ISGT-LA.2013.6554453</a></p>

        <p>MAZZINI, A. P.; BERNARDES, W. M. S.; VASCONCELOS, F. M.; SARAIVA, F. O.; ASADA, E. N.. <i>Application of Artificial Neural Networks for Discrimination of Nonlinear Loads</i>. In: II IEEE Power Energy Society Conference on Innovative Smart Grid Technologies Latin America (II IEEE-PES ISGT-LA), São Paulo, 2013. DOI: <a href="http://dx.doi.org/10.1109/ISGT-LA.2013.6554422" target="_blank">10.1109/ISGT-LA.2013.6554422</a></p>

        <p>SARAIVA, F. O.; ASADA, E. N.. <a href="../works/2012sbseSaraiva.pdf" target="_blank"><i>Modelando Sistemas Multiagentes para Simulação Computacional de Redes Elétricas Inteligentes</i></a>. In: IV Simpósio Brasileiro de Sistemas Elétricos (IV SBSE), Goiânia, 2012.</p>

        <p>SARAIVA, F. O.; ASADA, E. N.. <a href="../works/2012cbaSaraiva.pdf" target="_blank"><i>Sistema Multiagente Aplicado ao Gerenciamento Topológico de Sistemas Elétricos de Distribuição Inteligentes</i></a>. In: XIX Congresso Brasileiro de Automática (XIX CBA), Campina Grande, 2012.</p>

        <p>SARAIVA, F. O.; SOUSA, A. S.; ASADA, E. N.. <a href="../works/2011sbaiSaraiva.pdf" target="_blank"><i>Implementação Distribuída do Algoritmo de Dijkstra através de Sistemas Multiagentes</i></a>. In: X Simpósio Brasileiro de Automação Inteligente (X SBAI), São João del-Rei, 2011.</p>

        <p>SOUSA, A. S.; SARAIVA, F. O.; ASADA, E. N.. <a href="../works/2011cbicSousa.pdf" target="_blank"><i>Uma Abordagem do Problema de Planejamento de Redes Elétricas com Restrição de Segurança por Algoritmo Evolutivo Multiobjetivo</i></a>. In: X Congresso Brasileiro de Inteligência Computacional (X CBIC), Fortaleza, 2011.</p>

        <p>SARAIVA, F. O.; OLIVEIRA, A. C.. <a href="../works/2010enegepSaraiva.pdf" target="_blank"><i>Uma Comparação Empírica de Operadores de Crossover para o Problema de Job Shop com Datas de Entrega</i></a>. In: XXX Encontro Nacional de Engenharia de Produção (XXX ENEGEP), São Carlos, 2010.</p>

        <p>SARAIVA, F. O.; OLIVEIRA, A. C.. <a href="../works/2009ercemapiCosta.pdf" target="_blank"><i>Um Algoritmo Genético aplicado ao Problema de Job Shop Clássico: Estudo Comparativo entre os Operadores de Crossover</i></a>. In: III Escola Regional de Computação Ceará, Maranhão e Piauí (III ERCEMAPI), Parnaíba, 2009.</p>

        <p>SARAIVA, F. O.; OLIVEIRA, A. C.. <a href="../works/2008enecompSaraiva.pdf" target="_blank"><i>Algoritmo Genético: Conceitos e Implementação para o Problema da Árvore de Steiner</i></a>. In: XXVI Congresso Nacional dos Estudantes de Computação (XXVI ENECOMP), Campina Grande, 2008.</p>
        <br>
        <h3>Thesis, Dissertation, and Monograph</h3>
        <br>
        <p>SARAIVA, F. O.. <i>Aplicações híbridas entre sistemas multiagentes e técnicas de inteligência artificial para redes inteligentes de distribuição de energia elétrica</i>. Doctoral Thesis (Electrical Engineering) - University of Sao Paulo (Universidade de São Paulo - USP), São Carlos, 2015. [Supervisor: Dr. Eduardo Nobuhiro Asada]. DOI: <a href="dx.doi.org/10.11606/T.18.2016.tde-06062016-094659" target="_blank">10.11606/T.18.2016.tde-06062016-094659</a></p>
        
        <p>SARAIVA, F. O.. <i>Aplicação de Sistemas Multiagentes para Gerenciamento de Sistemas de Distribuição tipo Smart Grids</i>. Master's Dissertation (Electrical Engineering) - University of Sao Paulo (Universidade de São Paulo - USP), São Carlos, 2012. [Supervisor: Dr. Eduardo Nobuhiro Asada]. DOI: <a href="http://dx.doi.org/10.11606/D.18.2012.tde-25042012-155841" target="_blank">10.11606/D.18.2012.tde-25042012-155841</a></p>

        <p>SARAIVA, F. O.. <a href="../works/2009monografiaSaraiva.pdf" target="_blank"><i>Algoritmo Genético Aplicado ao Problema de Job Shop Clássico: Estudos Comparativos sobre Operadores de Crossover e Geração da População Inicial</i></a>. Undergraduate's Monograph (Bachelor in Computer Science) - Universidade Federal do Piauí (UFPI), Teresina, 2009. [Supervisor: Dr. Antonio Costa de Oliveira].</p>
    </div>
</div>
