<head>
    <meta http-equiv="refresh" http-equiv="REFRESH" content="0;url=.">
</head>

<div id="content">
    <div class="inner">
        <br>
        <h2>Pesquisas</h2>
        <br>
        <p>Meus principais interesses de pesquisa podem ser divididos em 2 grandes grupos: o primeiro seriam aplicações de métodos de inteligência computacional para problemas de otimização, tomada de decisão ou classificação, enquanto o segundo seriam pesquisas relacionadas a software livre.</p>
        
        <p>Detalhando um pouco mais os tipos de pesquisa que desenvolvo e estou disposto à orientação: para o 1º grupo tenho muito interesse em problemas que envolvem aplicações de métodos de inteligência computacional em geral, mas particularmente em problemas relacionados com distribuição de energia elétrica; já para o 2º penso em trabalhos sobre aspectos sociais de comunidades de software livre e desenvolvimento de software básico para ser disponibilizado como software livre ou contribuição a softwares já existentes.</p>
        
        <p>Em especial para alunos com interesse em orientação de pesquisa (Iniciação Científica, TCC, Atividade Complementar, ou mesmo Mestrado e Doutorado), deixo sugestões de trabalhos que estou disposto a orientar. Antes disso, descrevo alguns requisitos necessários para os que planejam concorrer a vagas em meus grupos de pesquisa</p>
        <br>
        <h3>Perfil dos Pesquisadores</h3>
        <br>
        <p>As pesquisas desenvolvidas estão sincronizadas com o estado da arte de suas respectivas áreas. É importante que o pesquisador compreenda que os mesmos estudos que desenvolvemos estão sendo trabalhados por outros laboratórios nas mais diversas universidades e centros de pesquisa do mundo.</p>
        
        <p>Portanto, é imprescindível que o candidato se dedique à pesquisa como a um trabalho, de forma séria e eficiente, buscando sempre gerar contribuições relevantes para a área de atuação e preocupando-se com o prazo para desenvolvimento da mesma.</p>
        
        <p>Do exposto, o perfil de pesquisadores que aceito para orientações devem ser aqueles que combinam autonomia e alto rendimento para a produção de estudos originais. De maneira mais detalhada, esses são os requisitos para todos aqueles que buscam minha orientação:</p>
        <ul>
            <li>O pesquisador que for bolsista deve se dedicar a no mínimo 40 horas semanais para a realização dos trabalhos. Aqueles que não tiverem bolsa, devem se dedicar no mínimo 20 horas semanais. Cabe ressaltar que, no geral, serão necessárias mais horas para o desenvolvimento das atividades.</li>
            <br>
            <li>Para os bolsistas, a presença frequente no laboratório é indispensável para a realização das atividades.</li>
            <br>
            <li>Todos os pesquisadores devem conseguir escrever bem em português, tanto gramaticalmente quanto em ortografia e estilo. Um dos principais trabalhos do pesquisador é divulgar os seus resultados, e isso não é possível se o pesquisador não consegue escrever bem e de maneira inteligível.</li>
            <br>
            <li>Pesquisadores de Iniciação Científica e TCC devem ser capazes de ler e compreender textos em inglês. Em adição, candidatos ao Mestrado devem também ser capazes de escrever parágrafos de tamanho razoável em inglês. Para alunos de Doutorado, é necessário que consiga escrever textos mais elaborados nesse idioma.</li>
            <br>
            <li>O pesquisador deve ser autônomo para buscar novos artigos nas bases de publicações científicas disponíveis, conseguir articular conceitos relacionados com seus estudos e situar a contribuição que está desenvolvendo na literatura - inclusive sendo capaz de indicar sobre o que o trabalho não trata.</li>
            <br>
            <li>Ter autonomia para escrever artigos científicos sobre os resultados da pesquisa e publicá-los nas principais conferências e revistas da área.</li>
            <br>
            <li>Participar das reuniões semanais de acompanhamento do desenvolvimento da pesquisa e enviar os relatórios referentes no prazo.</li>
            <br>
            <li>Se engajar nas atividades extras do grupo de pesquisa, como a participação nos seminários, comparecimento às sessões de defesas, compartilhamento de material relativo ao tema de estudo, e mais.</li>
            <br>
            <li>Entender que prazos e exigências devem ser cumpridos rigorosamente.</li>
        </ul>
        <br>
        <h3>Inteligência Computacional</h3>
        <br>
        <h4>Sistemas Elétricos de Distribuição</h3>
        <br>
        <ul>
            <li>O grupo de pesquisa desenvolveu um medidor de energia inteligente. Resta-nos desenvolver um sistema de recomendação de estratégias, talvez usando redes neurais ou lógica fuzzy, para redução do consumo.
            <br><b>Requisitos:</b> básico de Arduino, php, ou interfaceamento com linguagens web.</li>
            <br>
            <li>Modelagem de problemas de otimização combinatória encontrados em sistemas elétricos de distribuição e aplicação de métodos metaheurísticos de resolução, como algoritmo genético e outros.
            <br><b>Requisitos:</b> programação em linguagens compiladas, de preferência C/C++, ou conhecimento avançado em linguagens como Python e Lua, disposição para aprender sobre distribuição de energia.</li>
            <br>
            <li>Modelagem de sistemas multiagentes para problemas encontrados em sistemas elétricos de distribuição de forma que possam ser resolvidos de maneira autônoma em tempo de operação - <i>smart grids</i>.
            <br><b>Requisitos:</b> ter conhecimentos de programação em Java ou Python, disposição para aprender sobre distribuição de energia.</li>
        </ul>
        <br>
        <h4>Inteligência Computacional Aplicada</h4>
        <br>
        <ul>
            <!-- li>Utilização de métodos de classificação para grandes volumes de dados (<i>deep learning</i>) para identificação entomológica de besouros da fauna brasileira. Esse trabalho será co-orientado pela profa. <a href="http://lattes.cnpq.br/9946346302008600" target="_blank">Jéssica Viana</a>.
            <br><b>Requisitos:</b> desenvolvimento em Python, conhecimento de TensorFlow.</li>
            <br -->
            <li>Modelagem de problemas de otimização combinatória e aplicação de métodos metaheurísticos de otimização, de forma a realizar estudos comparativos sobre operadores, variações de parâmetros, e mais.
            <br><b>Requisitos:</b> programação em linguagens compiladas, de preferência C/C++, ou conhecimento avançado em linguagens como Python e Lua.</li>
            <br>
            <li>Hiperheurísticas: análises estatísticas, aplicações e estudos teóricos sobre métodos de busca em problemas de otimização a partir da composição de operadores de diferentes metaheurísticas existentes.
            <br><b>Requisitos:</b> conhecimento teórico e prático sobre vários métodos metaheurísticos, programação em linguagens compiladas, de preferência C/C++, ou conhecimento avançado em linguagens como Python e Lua.</li>
        </ul>
        <br>
        <h3>Software Livre</h3>
        <br>
        <h4>Aspectos Sociais</h3>
        <br>
        <ul>
            <li>Por que há tão poucos brasileiros, quando comparado a outros países, participando de comunidades de software livre? O que impede brasileiros com conhecimento técnico de contribuir com esses projetos?
            <br><b>Requisitos:</b> ter gosto para pesquisas sociais, projetar e analisar questionários.</li>
        </ul>
        <br>
        <h4>Desenvolvimento/Contribuição de Software Livre</h4>
        <br>
        <ul>
            <li>Nos estudos de sistemas de distribuição de energia é necessário realizar cálculos matemáticos complexos, como fluxo de potência. Essa pesquisa visa o desenvolvimento de uma biblioteca multiplataforma para isso.
            <br><b>Requisitos:</b> desenvolvimento C/C++, Python, git, engenharia de bibliotecas e disposição para aprender sobre distribuição de energia.</li>
            <br>
            <li>Criar uma prova de conceito em Qt/QML para o aplicativo SmartUFPA. A ideia é desenvolver um software alternativo, que tenha as mesmas funcionalidades do SmartUFPA, que seja multiplataforma.
            <br><b>Requisitos:</b> C++, Qt, QML, git e acesso a APIs na internet.</li>
            <br>
            <li>Criar um editor colaborativo LaTeX em forma de aplicativo para o Nextcloud, utilizando a estrutura de permissões/usuários desse software para possibilitar o trabalho colaborativo sobre textos.
            <br><b>Requisitos:</b> php, Javascript, Nextcloud, git.</li>
            <br>
            <li>Criar uma versão do curiouscat/ask.me em forma stand-alone mas também como aplicativo para o Nextcloud.
            <br><b>Requisitos:</b> php, Javascript, Nextcloud, git.</li>
        </ul>
    </div>
</div>
