<head>
    <meta http-equiv="refresh" http-equiv="REFRESH" content="0;url=.">
</head>

<div id="content">
    <div class="inner">
        <br>
        <h2>Sobre</h2>
        <br>
        <img src="../images/filipe.png" style="margin: 6px 5px 10px 20px" heigth="150" width="150" align="right" />
        
        <p>Sou Filipe de Oliveira Saraiva, doutor e mestre em Engenharia Elétrica pela Universidade de São Paulo – Escola de Engenharia de São Carlos, bacharel em Ciência da Computação pela Universidade Federal do Piauí. Durante meu doutorado fui pesquisador visitante na KTH Royal Institute of Technology, Suécia.</p>

        <p>Atualmente sou <a href="http://docente.ufpa.br/filipesaraiva" target="_blank">Professor Adjunto A na Universidade Federal do Pará</a> – Instituto de Ciências Exatas e Naturais, Belém. Estou lotado na Faculdade de Computação, no Programa de Pós-Graduação em Ciência da Computação, e sou membro do <i><a href="http://laai.ufpa.br/" target="_blank">Laboratory of Applied Artificial Intelligence</a></i>.</p>

        <p>Meus principais interesses de pesquisa são desenvolvimento e aplicações de métodos de inteligência computacional para sistemas elétricos convencionais e <i>smart grids</i>; desenvolvimento de métodos metaheurísticos para problemas de otimização combinatória; e software livre.</p>

        <p>Sou um entusiasta do software livre com participação em várias comunidades, em especial como <a href="https://phabricator.kde.org/p/filipesaraiva/" target="_blank">desenvolvedor</a> no <a href="http://kde.org/" target="_blank">KDE</a> e <a href="http://people.mageia.org/u/filipesaraiva.html" target="_blank">empacotador</a> no <a href="http://mageia.org/" target="_blank">Mageia</a>. Meu perfil no <a href="http://www.openhub.net/accounts/filipesaraiva" target="_blank">OpenHub</a> lista algumas das minhas contribuições com código.</p>
    </div>
</div>
